/specs
/demos
/tools
/node_modules
/dist
/etc
/coverage
/.nyc_output
/.github
/bin
.eslintcache
.eslintignore
.eslintrc.json
.gitignore
.npmignore
.nycrc
.prettierrc.json
.prettierignore
tsconfig.json
generateThirdParty.js
ThirdParty.json
api-extractor.jsonc
*.tgz
